services:
  app:
    image: ghcr.io/thacac/elancestvous-nextjs-16:latest
    restart: unless-stopped
    env_file:
      - .env
    expose:
      - "3000"
    networks:
      - web

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./infra/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      # Montage du dossier complet pour gérer les liens symboliques
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - app
    networks:
      - web

  certbot:
    image: certbot/certbot
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt
      - /var/www/certbot:/var/www/certbot
    # On vérifie toutes les 12h, mais ça ne renouvelle QUE si nécessaire
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew --webroot -w /var/www/certbot --quiet; docker exec nginx nginx -s reload; sleep 12h & wait $${!}; done;'"

networks:
  web:
    driver: bridge
