version: "3.8"

services:
  app:
    image: ghcr.io/thacac/elancestvous-nextjs-16:latest
    container_name: elancestvous
    restart: unless-stopped
    env_file:
      - .env
    expose:
      - "3000"
    networks:
      - web

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./infra/nginx.conf:/etc/nginx/nginx.conf:ro
      - /etc/letsencrypt/live/elancestvous.fr/fullchain.pem:/etc/ssl/certs/fullchain.pem:ro # SSL Certificate directly from Let's Encrypt
      - /etc/letsencrypt/live/elancestvous.fr/privkey.pem:/etc/ssl/private/privkey.pem:ro # SSL Certificate directly from Let's Encrypt
    depends_on:
      - app
    networks:
      - web

networks:
  web:
    driver: bridge
