@import "tailwindcss";
@import "tw-animate-css";

@plugin "tailwindcss-animate";
/* Tailwind CSS v4: border color compatibility for v3 */
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

:root {
  /* --header: var(--color-brand-pastel);
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent-foreground: #f1f5f9;
  --destructive: oklch(0.577 0.245 27.325); */
  /* --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0); */
  /* Personnal vars */
}

body {
  @apply bg-white font-sans antialiased;
}

.container {
  @apply max-w-5xl mx-auto px-4 sm:px-6 lg:px-8;
}

.wide {
  @apply max-w-7xl;
}

h1 {
  @apply font-serif text-primary text-5xl font-extrabold tracking-tight lg:text-6xl;
}

h2 {
  @apply font-serif text-primary text-4xl font-extrabold tracking-tight lg:text-5xl mb-4;
}

h3,
.h3-like {
  @apply font-sans text-base font-normal  text-stone-600 mx-auto max-w-2xl mt-5;
}

.form-label {
  @apply block text-sm font-medium text-stone-700;
}

@theme {
  --font-sans: "Inter", sans-serif;
  --font-serif: "Playfair Display", serif;
  --foreground: oklch(0.145 0 0);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  /* Personnal vars */
  --color-primary: #112e40;
  --color-primary-foreground: oklch(0.985 0 0);
  --color-secondary: #898c91;
  --color-secondary-foreground: oklch(0.205 0 0);
  --color-accent: #ff5a3d;
  --color-accent-foreground: #f1f5f9;
  --color-muted: #93999b98;
  --color-muted-foreground: oklch(0.556 0 0);
  --color-pastel: #d1faf9;
  --color-logo: #29b5ad;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --sidebar: oklch(0.205 0 0);
}

/* @layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
} */
